@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    src: url(../fonts/gothampro_light.woff2);
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    src: url(../fonts/gothampro.woff2);
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    src: url(../fonts/gothampro_medium.woff2);
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 700;
    src: url(../fonts/gothampro_bold.woff2);
}


@font-face {
    font-family: 'Artegra Sans';
    font-weight: 800;
    src: url(../fonts/ArtegraSans-ExtraBold.woff2);
}