:root {
    --clr-main: #273895;
    --clr-main-hover: #15257E;
    --clr-background: #F4F7FA;
    --clr-card: #FFF;

    --clr-dark: #000;
    --clr-dark-title: #303030;
    --clr-dark-text: #404040;
}